
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}


.App {
  display: flex;
  flex-direction: column;
   min-height: 100vh;  
}

.content {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 20px;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #333;
  padding: 15px;
  flex-shrink: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a.active {
  background-color: #ff6b6b;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* ===== Home page ===== */
  .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
  padding: 40px;
  background: #2575fc;
  border-radius: 15px;
  margin: 70px auto;
  text-align: center;
}
 

.home h1 {
   font-size: 20px; 
  margin-bottom: 30px;
  text-align: center;
}

.home p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.home button {
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #ff6b6b;
  color: white;
  cursor: pointer;

}

.home button:hover {
  background-color: #ff4757;
  transform: scale(1.05);
  box-shadow:  rgba(0,0,0,0.3);
}


.container {
  width: 640px;
  max-width: 95%;
  margin: 50px auto;
  background: white;
  color: rgb(25, 29, 28);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}

.container h2 {
  font-size: 27px;
  font-weight: 500;
}


.container ul {
  list-style: none;
  padding: 0;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;

}

.container ul li:hover {
 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.correct {
  background-color: #90ee90 !important;   /* green */
  color: #000;
}

.wrong {
  background-color: #ff7f7f !important;   /* red */
  color: #000;
}

.container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background: #553f55;
  color: azure;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;

}

.container button:hover {
  background-color: #442a44;
  box-shadow:  rgba(0,0,0,0.2);
}

.index {
  font-size: 18px;
  margin: auto;
  text-align: center;
}

/* ===== Footer ===== */
.footer {

  display: flex;               
  justify-content: center;     
  align-items: center;         
  text-align: center;
  color: #0a0a0a;
  font-size: 14px;
  padding: 20px 0;
  background-color: #eee;
  bottom: 0;    
  position: fixed; 
  width: 100%;   
}





