.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

.result-container h1 {
  font-size: 20PX;
  margin-bottom: 20px;
  text-shadow: 2px  blanchedalmond;

}

.result-container h2 {
  font-size: 20px;
  margin-bottom: 40px;
  /* text-shadow:  rgba(72, 70, 70, 0.5); */
}

.result-container button {
  background-color: #b4c0bd;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
 
}

.result-container button:hover {
  background-color: #45a049;
}
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ارتفاع كامل الشاشة */
}

.content {
  flex: 1; /* ياخد كامل المساحة بين Navbar و Footer */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}